<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Simple Tracking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">



  <ion-grid fixed>
    <ion-row class="ion-align-items-center">
      <ion-col size="12">
        <ion-button (click)="activate(state)" expand="block" fill="outline" shape="round">
          {{ state==true?'Start tracking':'Stop tracking' }}
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-segment [(ngModel)]="polygon" mode="ios">
          <ion-segment-button value="home">
            <ion-label>Home</ion-label>
          </ion-segment-button>
          <ion-segment-button value="market">
            <ion-label>Market</ion-label>
          </ion-segment-button>
          <ion-segment-button value="hood">
            <ion-label>Neighbourhood</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>

    <ion-item *ngFor="let position of positions" (click)="showmap(position)">
      <ion-label>
        <h2>GPS Location: {{ position.point.latitude }} - {{ position.point.longitude }}</h2>
        <p>Is Inside {{ position.polygonName }}: <b>{{position.inside}}</b></p>
      </ion-label>
      <ion-icon slot="end" name="map"></ion-icon>
    </ion-item>

  </ion-list>





</ion-content>